<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>One Vision</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        #img1{
            width: 100%;
        }
    </style>


</head>

<body>

<div class="container-fluid">
    <img id="img1" th:src="@{'/images/poor.jpg'}">
    <a class="btn btn-light" th:href="@{'/institutions'}">Institutions</a>
    <a class="btn btn-light" th:href="@{'/user/signup'}">Sign up</a>
</div>

<div>

</div>


</body>
</html>