<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Institution Form</title>
    <h2>New Institution Form</h2>
</head>
<body>
<form th:object=$"institution" method="post" th:action=$"/onevison/forminstitution">
    <p> Institution Name </p>
    <input type="text" th:field="*{username}" autofocus/>
    <p> Address </p>
    <input type="text" th:field="*{address}"/>
    <p> Site URL </p>
    <input type="url" th:field="*{siteUrl}"/>
    <p> Email </p>
    <input type="email" th:field="*{email}"/>
    <p> Description </p>
    <input type="email" th:field="*{description}"/>
    <input type="submit"/>
</form>

</body>
</html>